@import "includes/layout";
@media screen and (max-width:1200px) {
    .start-page{
        width: 98%;
    }
}
@media screen and (max-width:1000px){
	.content-claims-list{
		.claim-category{
			display: none;
		}
	}
	.column-block{
		flex-direction: column;
		.column{
			width: 100%;
			margin-bottom: 30px;
		}
	}
	.content-projector,.content-putchases,.content-users{
		padding: 10px;
		@include flex-direction(column-reverse);
		>div{
			width: 100%!important;
			form{
				@include display-flex();
				@include flex-wrap(wrap);
				@include justify-content(space-between);
				.input-field{
					width: 47%;
					min-width: 200px;
					 
				}
			}
		}
	}
	.fix-content-putchases{
		position: relative;
	}
	.projector-week-content{
		@include flex-wrap(wrap);
		.sa-block{
			width: 33.3333%;
		}
	}
	.projector-day{
		border: 1px solid rgba(0,0,0,0.3);
		border-top: 2px solid rgba(0,0,0,0.3);
		border-bottom: 0;
	}
	.content-putchases,.content-users{
		@include flex-direction(column);
		>div{
			form{
				@include justify-content(center);
				text-align: center;					 
				width: 300px;
				margin: 20px auto;

				.input-field{
					width: 100%;
				}
			}
		}
	}
}
@media screen and (max-width:900px) {
    .start-page{
        width: 90%;
    }
    .login-form, .start-main{
        width: 100%;
        float: none;
    }
    .start-logo{
        text-align: center;
        img{
            max-width: 90%;
        }
    }
    .login-pop-up{
        margin: 20px auto;
    }
    .start-advantages-list{
        width: 90%;
        margin: auto;
        ul li span{
            font-size: 20px;
        }
    }
}
@media screen and (max-width:750px) {
	.mobile-content{
		display: block;
	}
	.main-nav{
		//display: none;
		left: -320px;
	}
	
	.main{
		width: 100%;
	}
	.dashboard, .main-dashboard{
		@include flex-direction(column);
	}
	.no-dropp-row, .dashboard, .dashboard-block{
		width: 100%;
		min-height: initial;
	}
	.dashboard-block{
		margin-bottom: 10px;
		h2{
			display: block;
			padding: 7px;
			width: 100%;
			box-sizing: border-box;
			background-color: #0889e5;
			border-radius: 3px;
			position: relative;
			
		}
	}
	
	.issue-content{
		display: none;
	}
	.claim-task{
		.issue-content{
			display: block;
		}
	}
	.no-dropp-row{
		.issue-content{
			display: block;
		}
		h2{
			font-size: 20px;
		}
	
	}
	.claim-item{
		.eq-note {
			width: 100%;
			margin: 10px auto;
			margin-bottom: 10px!important;
			font-size: 14px;
		}
	}
	.content-equipment-list{
		.filters {
    		text-align: center;
			margin-top: 40px;
		}
		.btn-new-equipment {
    		position: absolute;
    		right: calc(50% - 80px);
		}
		
	}
}
@media screen and (max-width:670px) {
    .start-main{
        display: none;
    }
	.no-mobile{
		display: none;
	}
	
	.sa-block-full{
		.sa-block-full-right,.sa-block-full-left{
			width: 100%!important;
		}
	}
	.single-putchases-edit{
		display: block;
		>div{
			width: 100%;
			max-width: initial;
			margin-bottom: 20px;
		}
	}
	
}
@media screen and (max-width:600px) {
	
}
@media screen and (max-width:425px){
	.content{
		padding: 30px 10px;
	}
	.sa-block {
		padding: 30px 15px;
	}
	.projector-week-content{
		@include flex-wrap(wrap);
		.sa-block{
			width: 50%;
			padding: 0;
		}
	}
	.content-projector, .content-putchases{
		>div{
			form{
				display: block;
				text-align: center;
				.input-field{
					width: 100%;
					 
				}
			}
		}
	}
}