$imgPath: "../images/";

$regular: "myriad-pro-condensed";
$bold: "myriad-pro-condensed-bold";

//@include font-face($regular, font-files("myriad-pro-condensed.woff")); 
//@include font-face($bold, font-files("myriad-pro-condensed-bold.woff")); 
